body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c7d391;
    color: #252917;
    text-align:end;
    padding: 1em 0;
    /* border-bottom-left-radius: 80px; */
    border-bottom-right-radius: 380px;
    height: 180px;
}

footer {
    background-color: #c7d391;
    color: #252917;
    text-align:end;
    padding: 1em 0;
    
    height: 50px;
}

h1{
    margin: 10px;
    width: 300px;
    height: 0px;
    font-size: 60px;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #313b02;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #c5bebe;
}

#confirmationMessage {
    margin-top: 1em;
    font-weight: bold;
    color: green;
    display: none;
}


.carousel-container {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slider img {
    width: 100%;
}

.carousel-container button {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



